.form {
		&> div {
				align-items: baseline;
				width: 60%;
				max-width: 600px;
				display: flex;
				justify-content: space-between;
				margin: 20px;
				margin-left: auto;
				margin-right: auto;
		}
}
