* {
		font-family: 'Roboto';
		// font-style: normal;
		// font-weight: 300;
		position: relative;
		padding: 0;
		margin: 0;
		border: none;
		box-sizing: border-box;
}

body, html, #app {
		height: 100%;
}

#app {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
		background-color: #EBEBEB;
		display: flex;
		flex-direction: column;
		overflow: scroll;
}
#nav {
		min-height: 78px;
		background-color: #404040;
		display: flex;
		padding-left: 10%;
		padding-right: 10%;
		a {
				padding-top: calc(78px / 2 - 15px);
				flex-grow: 1;
				flex-shrink: 1;
				min-height: 100%;
				text-decoration: none;
				font-size: 24px;
				color: #E9E9E9;
				&.router-link-exact-active {
						background-color: #F9F9F9;
						color: #404040;
				}
		}
}

#router-view {
		flex-grow: 1;
		width: 80%;
		background-color: #f9f9f9;
		margin-left: auto;
		margin-right: auto;
		overflow: scroll;
		padding: 30px;
}

.logo {
		background-image: url(./assets/logo.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		content: "";
		width: 78px;
		height: 78px;
}
